<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chat Web App</title>
    <link rel="icon" type="image/png" href="http://example.com/myicon.png">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">

</head>

<body>
    <ul class="pages">
        <li class="login page">
            <form method="post" class="login-form">
                <div class="form userf">
                    <h2 class="title">Tell us your name?</h2>
                    <input class="usernameInput" type="text" maxlength="14" name="username" />
                </div>


                <div class="form passf">
                    <h2 class="title">Enter your password</h2>
                    <input class="userpassInput" type="password" maxlength="14" name="userpass" />
                </div>
            </form>
        </li>
    </ul>

    <script src="/javascripts/login.js"></script>
</body>

</html>
